# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node
node_modules

# Logs
logs
*.log
uploads
outputs
docs/~$*

# Misc
.DS_Store

# Environment
.env
.env.local
.env.*.local

# Prisma
prisma/generated

# Signatures
signatures/
public/.test_*.png
